/* Général */

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    max-width: 1440px;
    margin: auto;
}

.colored-icon {
    color: var(--main-color);
}

.blank-icon {
    color: var(--main-bg-color);
}

main a {
    text-decoration: none;
    color: black;
}

img {
    object-fit: cover;
}

article {
    cursor: pointer;
  }

/* Header */

.top-page {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    width: 100%;
}

.logo {
    width: 61.09px;
    height: 19px;
    left: 30px;
    top: 30px;
}

.top-link {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-right: 50px;
}

@media screen and (min-width: 769px)
{
    .top-link:hover {
        color: var(--main-color);
        border-top: solid 2px;
        border-color: var(--main-color);
        padding-top: 14px;
    }
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 100px;
}

.bottom-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    padding: 0;
}

/* Main */

/*Barre de recherche*/

.search-bar {
    margin-top: 60px;
    display: flex;
    max-width: 25%;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
}

.location-logo {
    padding: 0px 10px;
    height: 49px;
    background: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
} 

.fa-location-dot {
    padding-top: 10px;
}

.search-location {
    width: 377px;
    height: 49px;
    border: 1px solid var(--main-bg-color);
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 0;
}

::placeholder
{
    color: black;
    opacity: 1;
}

.search-button {
    width: 130px;
    height: 50px;
    background: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding: 0px 15px;
}

.search-icon {
    display: none;
}

/* Filtres */

.filter {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}

.filter-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.filter-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.filter-button {
    background: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px;
}

.filter-button:hover {
    background: var(--filter-bg-color);
}

.fa-solid {
    margin: 5px;
}

/* Information */

.info {
    display: flex;
    width: 35%;
    align-items: center;
    margin-top: 30px;
}

.info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 10px;
}

.info-icon {
    border: 1px solid var(--filter-bg-color);
    padding: 0px 5px;
    border-radius: 50%;
}

/* Hébergements et populaires */

.fa-star {
    margin: 0;
}

.hebergement-populaire {
    width: 100%;
    display: flex;
    justify-content:flex-start;
    margin-top: 30px;
    gap: 20px;
}

.hebergement {
    width: 63%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.populaire {
    width: 33%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.hebergement-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 30px 0px 10px 30px;
}

.populaire-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 30px;
}

.fa-chart-line {
    margin-top: 30px;
}

.populaire-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.hebergement-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
}

.hebergement-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    width: 30%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    min-width: 25%;
    min-height: 230px;
}

.hebergement-card-picture {
    border-radius: 20px 20px 0px 0px;
    height: 125px;
    width: 95%;
    padding: 5px;
}

.hebergement-card-content {
    align-self: flex-start;
}

.hebergement-link {
    margin: 0px 0px 30px 30px;
}

.card-title {
    margin-left: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0;
}

.card-subtitle {
    margin-top: 8px;
    margin-left: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.card-rating {
    margin-bottom: 10px;
    margin-left: 10px;
}

.populaire-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

.populaire-card {
    background-color: white;
    border-radius: 20px;
    width: 90%;
    height: 160px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.populaire-card-picture {
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;
    height: 160px;
    width: 35%;
    padding: 5px;
    min-width: 25%;
}

.populaire-card-txt {
    display: flex;
    flex-direction: column;
}

.populaire-card-content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
    height: 100%;
}

/* Activités */

.activite {
    margin-top: 60px;
    width: 100%;
}

.activite-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.activite-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
}

.activite-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 23%;
    height: 445px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.activite-card-picture {
    height: 380px;
    min-height: 380px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.activite-card-title {
    margin-left: 20px;
}

/* Menu */

.menu {
    margin-top: 60px;
    background-color: var(--main-bg-color);
    padding-bottom: 10px;
    width: 100%;
}

.menu-title {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.menu-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-position: inside;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

li {
    margin-top: 10px;

}

/* Mise en page générale */

header, main, footer {
    padding-left: 30px;
    padding-right: 30px;
}

/* Affichage sur Tablettes */
@media screen and (max-width: 1024px)
{
    body {
        max-width: 1024px;
        margin: auto;
    }

    /* Filtres */
    
    .filter {
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        margin-top: 30px;
    } /*modifs*/
    
    /* Information */
    
    .info {
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 30px;
    } /*modifs*/
    
    /* Hébergements et populaires */
    
    .hebergement-populaire {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        gap: 30px;
    } /*modifs*/
    
    .hebergement {
        width: 100%;
        background-color: var(--main-bg-color);
        border-radius: 20px;
    } /*modifs*/
    
    .populaire {
        width: 100%;
        background-color: var(--main-bg-color);
        border-radius: 20px;
    } /*modifs*/
    
    .populaire-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 10px 30px;
        width: 90%;
    } /*modifs*/
    
    .card-title {
        margin-left: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 0;
    } /*modifs*/
    
    .card-subtitle {
        margin-top: 8px;
        margin-left: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    } /*modifs*/
    
    .populaire-cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        margin: 15px;
    } /*modifs*/

    .populaire-card-txt .card-title {
        margin-left: 5px;
    } /*modifs*/

    .populaire-card-txt .card-subtitle {
        margin-left: 5px;
    } /*modifs*/
    
    .populaire-card {
        background-color: white;
        border-radius: 20px;
        width: 32%;
        height: 160px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    } /*modifs*/
    
    /* Activités */
    
    .activite-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
        width: 23%;
        height: 270px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    } /*modifs*/
    
    .activite-card-picture {
        height: 200px;
        min-height: 200px;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    } /*modifs*/
}

/* Affichage sur Smartphones */
@media screen and (max-width: 768px)
{
    body {
        max-width: 768px;
        margin: auto;
    } /*modifs*/

    .top-page {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
        width: 100%;
        height: 100px;
    } /*modifs*/
    
    .logo {
        width: 61.09px;
        height: 19px;
        left: 30px;
        top: 30px;
        margin-top: 20px;

    } /*modifs*/
    
    .top-links
    {
        width: 95%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
    } /*modifs*/

    .top-link {
        text-decoration: none;
        color: black;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin-right: 50px;
        height: 50px;
        width: 50%;
    } /*modifs*/
    
    .top-link:hover {
        color: var(--main-color);
        border-bottom: solid 2px;
        border-color: var(--main-color);
        padding-bottom: 5px;
    } /*modifs*/
    
    /* Main */
    
    /*Barre de recherche*/
    
    .search-bar {
        display: flex;
        max-width: 100%;
        height: 50px;
        justify-content: flex-start;
        align-items: center;
    } /*modifs*/

    .search-button {
        width: 60px;
    }

    .search-icon {
        display: block;
    }

    .search-text {display: none;}
    
    /* Filtres */
    
    .filter {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        margin-top: 30px;
    } /*modifs*/
    
    .filter-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 95%;
    } /*modifs*/

    .filter-button {
        background: white;
        border: 2px solid #D9D9D9;
        border-radius: 25px;
        padding: 10px;
        width: 45%;
    } /*modifs*/

    .info {
        width: 100%;
    }
    
    /* Hébergements et populaires */
    
    .hebergement-populaire {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 30px;
        margin: 0;
    } /*modifs*/
    
    .hebergement {
        width: 100%;
        background-color: white;
    } /*modifs*/
    
    .populaire {
        width: 100%;
        border-radius: 0;
        background-color: var(--main-bg-color);
    } /*modifs*/

    .populaire-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 35px;
    } /*modifs*/
    
    .populaire-card {
        background-color: white;
        border-radius: 20px;
        width: 95%;
        height: 160px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    } /*modifs*/
    
    .hebergement-cards {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 30px;
        margin: 30px;
    } /*modifs*/
    
    .hebergement-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        width: 100%;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        min-width: 25%;
        min-height: 230px;
    } /*modifs*/

    .card-title {
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;
    }
   
    /* Activités */
    
    .activite-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 95%;
        gap: 20px;
    } /*modifs*/
    
    .activite-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    } /*modifs*/
    
    .activite-card-picture {
        height: 150px;
        min-height: 150px;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    } /*modifs*/
    
    .activite-card-title {
        margin-left: 20px;
    }
    
    /* Menu */
    
    .menu {
        margin-top: 60px;
        margin-left: 0;
        background-color: var(--main-bg-color);
        padding-bottom: 10px;
        width: 100%;
    } /*modifs*/
    
    .menu-title {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        padding-left: 20px;
    } /*modifs*/
    
    .menu-subtitle {
        padding-bottom: 30px;
    }
}